body {
    background-image: url("food.png");
    color: #fff;
    margin: 0;
    padding: 0;
  }
  div {
    border: 20px solid white;
    
  }
  form {
    text-align: center;
    color: rgb(6, 120, 29);
    
  }
  label {
    font-size: large;
  }
  input {
    font-size: large;
  }