body {
    background-image: url("foodie.png");
    color: #fff;
    margin: 0;
    padding: 0;
  }
  div {
    border: 20px solid white;
    
  }
  form {
    text-align: center;
    color: rgb(144, 10, 59);
    
  }
  label {
    font-size: large;
  }
  input {
    font-size: large;
  }