body{
    background-image: url("../../assets/restaurant.png");
}
.reg {
    align-self: center;
    margin: 8rem auto;
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.5);
    background-size: 0.5rem auto;
}
form {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
}

b {
    display: flex;
    justify-content: center;
}
input {
    height: 0.75rem;
    border: 0rem;
    align-self: auto;
    bottom: 5rem;
}
button {
    padding: 0.1rem;
    border: 0rem;
    background-color: yellowgreen;
}
.log {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.737);
}